root = "./"

logger = "logger"
logservice = "snlua"
logpath = root.."logs-test"
loglevel = "DEBUG"

cfg = root.."config.lua"

harbor = 0
start = "sysmgr"
bootstrap = "snlua bootstrap"
lualoader = root.."skynet/lualib/loader.lua"

lua_path = root.."lualib/?.lua;"..
           root.."lualib/?/init.lua;"..
           root.."skynet/lualib/?.lua;"..
           root.."skynet/lualib/?/init.lua;"..
           root.."app/?/entry.lua"

luaservice = root.."service/?.lua;"..
             root.."skynet/service/?.lua"

lua_cpath = root.."bin/?.so;"..
            root.."bin/prebuilt/?.so"
cpath = root.."bin/?.so"

thread = 3
-- memlimit = 200*1024*1024
-- daemon = "./skynet.pid"
